In [1]:
import pandas as pd

Requirement already satisfied: scipy in /Users/hongmina/miniforge3/envs/mina/lib/python3.8/site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /Users/hongmina/miniforge3/envs/mina/lib/python3.8/site-packages (from scipy) (1.21.2)

In [2]:
#실행할때 cmd+enter
#다음 블록 생성하기 shift+enter
Names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
Births = [968,155,77,578,973]
custom = [1,5,25,13,23232]

BabyDataSet = list(zip(Names,Births))
df = pd.DataFrame(data = BabyDataSet, columns = ['Names','Births'])

In [3]:
df.head(); #데이터 프레임의 상단 부분 출력 가능. default값은 5이다

In [4]:
df.dtypes #데이터 프레임의 열 타입 정보

Names     object
Births     int64
dtype: object

In [5]:
df.index #데이터 프레임의 인덱스 정보

RangeIndex(start=0, stop=5, step=1)

In [6]:
df.columns #데이터 프레임의 열의 형태 정보

Index(['Names', 'Births'], dtype='object')

In [7]:
df['Names'] # 데이터 프레임에서 하나의 열 선택하여 출력

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [8]:
df[0:3] # 행 구간의 데이터 출력할때 사용, x:y -> x번째 인덱스부터 y-1번째 인덱스까지

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [9]:
df[df['Births']>100] #필터링 기능

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [10]:
df.mean()#평균값 계산, mean()함수는 각 열들의 데이터 타입을 체크한 뒤, 연산이 가능한 열의 평균값만 반환

<ipython-input-10-63cae0388fa6>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()#평균값 계산, mean()함수는 각 열들의 데이터 타입을 체크한 뒤, 연산이 가능한 열의 평균값만 반환

Births    550.2
dtype: float64